body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
}

.btns {
  position: absolute;
  left: 0;
  top: 60px;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  outline: none;
}
