body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.btns {
  position: absolute;
  left: 0;
  top: 60px;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  outline: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  padding: 60px 30px;
  border-radius:15px;
  z-index: -1;
  display: none;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  z-index: -1;
}
.modal.active, .overlay.active {
  display: block;
  z-index: 15;
}
.modal.active {
  z-index: 20;
}
.modal__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  padding: 10px 30px;
  border: 1px solid #ccc;
  width: 100%;
  transition: all .3s linear;
  outline: none;
  border-radius: 0;
  box-sizing: border-box;
}

input[type="text"]:hover, input[type="text"]:focus {
  border-color: #5f5fe7;
  border-radius: 15px;
  transition: all .3s linear;
}
label {
  width: 100%;
  margin-bottom: 20px;
}
label > span {
  display: inline-block;
  margin-bottom: 10px;
}
label:last-child {
  margin-bottom: 0;
}

.modal__submit {
  padding: 14px 35px;
  background-color: #5f5fe7;
  color: #fff;
  border: 1px solid transparent;
  border-radius:15px;
  transition: all .2s linear;
}
.modal__submit:hover {
  background-color: #fff;
  color: #5f5fe7;
  border-color: #5f5fe7;
  transition: all .2s linear;
}