body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.btns {
  position: absolute;
  left: 0;
  top: 60px;
  display: flex;
  flex-direction: column;
}
button {
  cursor: pointer;
}
.btn {
  cursor: pointer;
  outline: none;
  background-color: #5f5fe7;
  color: #fff;
  transition: all .2s linear;
  border: 1px solid transparent;
  margin-bottom: 5px;
}
.btn:hover {
  background-color: #fff;
  color: #5f5fe7;
  border-color: #5f5fe7;
  transition: all .2s linear;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  padding: 60px 30px;
  border-radius:15px;
  z-index: -1;
  display: none;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  z-index: -1;
}
.modal.active, .overlay.active {
  display: block;
  z-index: 15;
}
.modal.active {
  z-index: 20;
}
.modal__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  padding: 10px 30px;
  border: 1px solid #ccc;
  width: 100%;
  transition: all .3s linear;
  outline: none;
  border-radius: 0;
  box-sizing: border-box;
}

input[type="text"]:hover, input[type="text"]:focus {
  border-color: #5f5fe7;
  border-radius: 15px;
  transition: all .3s linear;
}
label {
  width: 100%;
}
label > span {
  display: inline-block;
  margin-bottom: 10px;
}
label:last-child {
  margin-bottom: 0;
}

.modal__submit {
  padding: 14px 35px;
  background-color: #5f5fe7;
  color: #fff;
  border: 1px solid transparent;
  border-radius:15px;
  transition: all .2s linear;
}
.modal__submit:hover {
  background-color: #fff;
  color: #5f5fe7;
  border-color: #5f5fe7;
  transition: all .2s linear;
}

.modal__btns {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}
.modal__btn:not(#none){
  width: 90px;
}
.modal__btn {
  height: 30px;
  background-color: #5f5fe7;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}
.modal__btn.select {
  background-color: #fff;
  border-color: #5f5fe7;
  transition: all 0.2s ease-in-out;
  color: #5f5fe7;
}
.btn.hide {
  display: none;
}
.stop {
  display: none;
}
.stop.show {
  display: block;
}

.error{
  opacity: 0;
  color: #ff5050;
  font-size: 14px;
  transition: all .2s linear;
  position: relative;
  z-index: -1;
}
.hor.show, .vert.show {
  opacity: 1;
  transition: all .2s linear;
  z-index: 1;
}

.modal__options-x{
  display: none;
  text-align: center;
}
.modal__options-x.active{
  display: block;
}
.linear, .quadratic, .logarithmic {
  margin-top: 10px;
  margin-bottom: 20px;
  display: none;
}
.linear.active, .quadratic.active, .logarithmic.active{
  display: block;
}
.linear > div, .quadratic > div, .logarithmic > div {
  margin-top: 10px;
  margin-bottom: 10px;
}
.modal__range {
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.modal__range.active {
  display: flex;
}
.modal__range-min, .modal__range-max{
  max-width: 80px;
  padding: 10px 15px!important;
  margin-left: 10px;
  margin-right: 10px;
}
.modal__speed{
  margin-top: 30px;
}